<!DOCTYPE html>
<html lang="en">
<head>
  {% include "parts/head.njk" %}
</head>
<body>
  <div class="wrapper">
    {% from "components/header.njk" import header %}
    {{ header(
      isLogined = false
    ) }}
    <main class="inner">
      {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
  </div>
  {% include "parts/scripts.njk" %}
</body>
</html>
