---
permalink: profile-security.html
layout: profile.njk
title: Profile
---
<div class="profile__title">Two-Factor Authentication</div>
<div class="profile__items">
  <div class="profile__item">
    <div class="profile__left">
      Protect your Play2x account with an additional layer of security
    </div>
    <div class="profile__right">
      <button type="button" class="btn btn_2fa">
        <span class="btn__text nowrap">Enable 2FA</span>
      </button>
    </div>
  </div>
</div>
