---
permalink: profile-sessions.html
layout: profile.njk
title: Profile
---

<div class="profile__title">Sessions</div>
<div class="profile__table-wrapper">
  <table class="profile__table">
    <thead>
      <tr>
        <th>Action</th>
        <th>Browser</th>
        <th>Region</th>
        <th>Ip Address</th>
        <th>Last SEEN</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Current</td>
        <td>Chrome (Windows)</td>
        <td>RU</td>
        <td>146.146.146.783</td>
        <td>2 days ago</td>
      </tr>
    </tbody>
  </table>
</div>
