@use 'variables' as *;

body {
  font-family: Gotham, system-ui, sans-serif;
  font-size: 16px;
  line-height: 130%;
  background-color: #0e0e0e;
  color: $text-primary-color;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;

  &_game {
    display: grid;
    grid-template-rows: repeat(3, auto);
    transition: 0.4s grid-template-columns ease-in-out;
    grid-template-columns: 1fr 0;
  }

  &.is-active {
    grid-template-columns: 1fr 332px;

    .chat {
      &__inner {
      position: fixed;
      visibility: visible;
      pointer-events: all;
      transform: none;
    }
    }
  }
}

.inner {
  flex-grow: 1;
}

.accent {
  color: $accent-color;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

@media screen and (width < 1348px) {

  .wrapper {

    &_game {
      display: flex;

      &.is-active {

        .chat {
          display: flex;
        }
      }
    }
  }
}
