@mixin font($size, $weight) {
	@font-face {
		font-family: Gotham;
		font-display: swap;
		src: local("Roboto"), url("../fonts/Gotham-#{$weight}.woff2") format("woff2");
		font-weight: $size;
		font-style: normal;
	}
}

@include font(400, "Regular");
@include font(500, "Medium");
@include font(700, "Bold");
