@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.chat {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  overflow: hidden;
  z-index: 3;

  &__inner {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: static;
    padding: 14px 18px;
    right: 0;
    bottom: 0;top: 0;
    width: 300px;
    background-color: #191919;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #242424;
    padding-bottom: 10px;

    select.visually-hidden {
      top: auto;
      right: auto;
      background-color: inherit;
      font-size: 12px;
      color: inherit;
    }
  }

  &__body {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $accent-color #0000;
  }

  &__close {
    display: flex;
    color: #414141;
    background-color: #2c2c2c;
    border-radius: 8px;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    padding: 3px 1px;

    @include hover {
      background-color: #fff;
      color: #414141;
    }
  }

  &__flow {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-bottom: 64px;
  }

  &__controll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 14px 24px 18px;
    background-color: #191919;

    &-inner {
      position: relative;
    }
  }

  &__input {
    width: 100%;
    background-color: #2c2c2c;
    border-radius: 8px;
    color: #414141;
    font-size: 10px;
    line-height: 1.2;
    padding: 18px;
    padding-right: 38px;
  }

  &__send {
    display: grid;
    place-items: center;
    width: 26px;
    aspect-ratio: 1;
    background-color: #3A3A3A;
    color: #2c2c2c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    border-radius: 6px;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;

    @include hover {
      background-color: #fff;
      color: #414141;
    }
  }

  &__select {
    display: flex;
    align-items: center;
    font-weight: 500;
    column-gap: 4px;
    padding: 6px 10px;
    background-color: #242424;
    border: 1px solid #262626;
    color: #fff;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;

    &-flag {
      display: flex;
    }
  }
}

.message {
  position: relative;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: auto auto;
  column-gap: 6px;
  line-height: 1.2;

  &__avatar {
    grid-row: span 2;

    &-img {
      border-radius: 8px;
    }
  }

  &__username {
    font-size: 10px;
    color: #e5e4e2;
    font-weight: 500;
    padding-right: 26px;
  }

  &__copy {
    font-size: 8px;
    color: #979797;
    line-height: 1.4;
  }

  &__time {
    position: absolute;
    top: 0;
    right: 0;
    color: #979797;
    font-size: 8px;
  }
}

@media screen and (width < 1348px) {

  .chat {
    display: none;
  }
}

@media screen and (width < 480px) {

  .chat {
    width: 100%;

    &__inner {
      width: 100%;
    }
  }
}
