@use '../abstracts/variables' as *;

.container {
  width: 100%;
  max-width: calc($container-width + ($container-padding * 2));
  margin-inline: auto;
  padding-inline: $container-padding;

  &_fluid {
    max-width: 100%;
  }

  &_header {
    --container-width: var(--container-header-width);
  }

  &_preference {
    --container-width: var(--container-preference-width);
  }
}
