@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.discover {
  display: flex;
  gap: 30px 58px;
  margin-top: 60px;
  max-width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__section {
    font-size: 14px;
    color: #A4A4A4;
  }

  &__list {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #101010;
  }

  &__link {
    display: flex;
    color: inherit;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 10px;
    border-left: 1px solid #0000;
    text-decoration: none;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    white-space: nowrap;

    &.is-active {
      border-color: $accent-color;
      background-color: #181818;
    }

    @include hover {
      color: $accent-color;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.1;
  }

  &__section {
    background-color: #101010;
    scroll-margin-top: 24px;
  }
}

@media screen and (width < 768px) {
  .discover {
    flex-direction: column;
  }
}
