@use '../abstracts/variables' as *;

.hero {
  position: relative;
  border-bottom: 1px solid #242424;
  min-height: 880px;
  background: #000 url('../images/homepage/bg.png') center/cover no-repeat;
  margin-top: -120px;
  padding-top: 120px;

  &__inner {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-top: 90px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px 18px;
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
    font-size: 10px;
    line-height: 1.2;
    margin-top: 120px;
  }

  &__tag {
    padding: 7px 14px;
    background-color: rgba($color: #E81C5A, $alpha: 0.3);
    color: #e81c5a;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
  }

  &__title {
    font-weight: 700;
    font-size: clamp(89px, 28vw, 196px);
    font-family: DrukCyr;
    line-height: 0.9;
    margin-top: -24px;
    background: -webkit-linear-gradient(#FFF2F6, #999194);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__subtitle {
    font-family: Ballet;
    font-size: clamp(56px, 17vw, 123px);
    line-height: 1;
    margin-top: -40px;
    margin-left: 36px;
    color: $accent-color;
    word-spacing: -20px;
  }

  &-table {
    position: relative;
    overflow: hidden;
  }
}


@media screen and (width < 756px) {
  .hero {
    min-height: 780px;
  }
}

@media screen and (width < 600px) {
  .hero {
    min-height: 680px;
    padding-top: 80px;
  }
}

@media screen and (width < 480px) {
  .hero {
    &__inner {
      padding-top: 60px;
    }
  }
}
