@use '../abstracts/mixins' as *;

.profile {
  display: flex;
  margin-top: 52px;
  margin-bottom: 26px;
  background-color: #121212;
  border-radius: 26px;
  overflow: hidden;

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    padding-top: 42px;
    padding-bottom: 24px;
    width: 340px;
    max-width: 100%;
  }

  &__content {
    padding: 34px 48px 26px 48px;
    flex: 1;
  }

  &__rank {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    transform: translateY(-50%);
  }

  &__name {
    display: flex;
    column-gap: 4px;
    align-items: flex-end;
    font-size: 17px;
    margin-bottom: 40px;

    .icon {
      background-color: #5a5a5a;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-item {
      &:not(:last-of-type) {
        border-bottom: 1px solid #1f1f1f;
      }
    }
  }

  &__list-name {
    margin-bottom: 10px;
    font-size: 15px;
    color: #5a5a5a;
    text-align: left;
    width: 100%;
    padding-inline: 28px;
  }

  &__link {
    padding: 8px 28px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    text-decoration: none;
    color: #5a5a5a;
    transition: color 0.1s ease-in-out;

    @include hover {
      color: #ffffff;
    }

    &[aria-current='true'] {
      background-color: #1f1f1f;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 500;
    color: #5a5a5a;
    margin-bottom: 20px;
    line-height: 1.1;
  }

  &__subtitle {
    font-size: 17px;
    color: #5a5a5a;
    margin-bottom: 14px;
    line-height: 1.1;
  }

  &__table {
    min-width: 440px;
    text-align: center;
    width: 100%;
    max-width: 100%;

    &-wrapper {
      max-width: 100%;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    th {
      font-size: 10px;
      color: #4f4f4f;
      padding-bottom: 10px;
    }

    td {
      font-weight: 500;
      font-size: 14px;
      padding: 10px 4px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: space-between;
    background-color: #181818;
    border-radius: 12px;
    color: inherit;
    padding: 16px 14px;

    &:is(label, button) {
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      @include hover {
        background-color: #202020;
      }
    }
  }

  &__right, &__left {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 36px;
  }

  &__social-medias {
    display: flex;
    gap: 14px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__social {
    display: flex;
    flex-direction: column;
    width: 120px;
    padding-block: 22px;
    border-radius: 18px;
    background-color: #181818;
    border: 1px solid #2C2C2C;
    text-decoration: none;
    align-items: center;
    row-gap: 10px;
    color: inherit;
    transition: background-color 0.1s ease-in-out;

    &-ava {
      display: grid;
      place-items: center;
      width: 52px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #252525;
      color: #fff;

      &_telegram {
        background-color: #009AC5;
      }
    }

    @include hover {
      background-color: #202020;
    }
  }
}

.rank {
  display: inline;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 9px;
  text-align: center;
  line-height: 1.2;

  &_diamond {
    background-color: #2ddecf;
    color: #0e3734;
  }
}

@media (width < 1000px) {
  .profile {
    margin-top: 32px;

    &__col {
      width: 240px;
    }

    &__content {
      padding: 24px;
    }
  }
}

@media (width < 768px) {
  .profile {
    flex-direction: column;

    &__link, &__list-name {
      padding-inline: 12px;
    }

    &__name {
      margin-bottom: 12px;
    }

    &__col {
      width: 100%;
      padding: 24px;
    }

    &__content {
      padding: 24px;
      width: 100%;
    }
  }
}

@media (width < 580px) {
  .profile {
    &__item {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
    }
  }
}

@media (width < 480px) {
  .profile {
    &__col, &__content {
      padding-inline: 12px;
    }
  }
}
