<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#000000">
<link rel="stylesheet" href="{{ "/assets/styles/index.scss" | revvedOutput }}">
<title>{{ title | default(site.title) }}</title>
<meta name="description" content="{{ description | default(site.description) }}">
