<div class="after-hero">
  <div class="container container_preference">
    <div class="after-hero__inner">
    <div class="star star_5"></div>
    <div class="star star_4"></div>
      <div class="after-hero__col">
        <ul class="after-hero__tags">
          {% for item in ['MIXER WITHDRAWALS', 'FULL ANONYMITY'] %}
            <li class="after-hero__tag">{{ item }}</li>
          {% endfor %}
        </ul>
        <div class="after-hero__title"><span class="accent">Defi</span>&ensp;experience</div>
        <div class="after-hero__subtitle">No personal data & no central control</div>
      </div>
      <div class="after-hero__col">
        <a href="#" class="btn btn_after-hero nowrap">
          <span class="btn__text">Read More</span>
        </a>
      </div>
      <div class="after-hero__img"></div>
    </div>
  </div>
</div>
