{% from "components/button.njk" import button %}

{% macro header(isLogined = true) %}
  <header class="header">
    <div class="container container_header">
      <div class="header__inner">
        <a href="/" class="header__logo">
          <img src="/assets/images/logo.svg" eleventy:ignore width="58" height="63" alt="logo" class="header__logo-img">
        </a>
        <aside class="header__online">
          <div class="header__online-icon">
            <span class="icon icon_25 icon_hotspot-green"></span>
          </div>
          <div class="header__online-value">1658</div>
          <div class="header__online-label">ONLINE</div>
        </aside>
        <nav class="header__menu">
          <ul class="menu">
            <li class="menu__item">
              <a href="/the-game.html" class="menu__link">The Game</a>
            </li>
            <li class="menu__item">
              <a href="/discover.html" class="menu__link">Discover</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Promotions</a>
            </li>
          </ul>
        </nav>
        <div class="header__actions">
          {% if isLogined %}
            <div class="header__balance">
              <div class="balance">
                <div class="balance__icon">
                  <span class="icon icon_ethereum icon_23"></span>
                </div>
                <div class="balance__count">1.435454</div>
                <div class="balance__action">
                  <button
                    type="button"
                    class="btn btn_balance"
                    id="deposit"
                    >
                    <span class="btn__prepend">
                      <span class="icon icon_current-color icon_wallet icon_14"></span>
                    </span>
                    <span class="btn__text">Deposit</span>
                  </button>
                </div>
              </div>
            </div>
            <span class="header__avatar-wrapper">
              <a href="#" class="header__avatar">
                <img src="/assets/images/avatar_placeholder.jpg" alt="User name" width="44" height="44" class="header__avatar-img">
              </a>
            </span>
          {% else %}
            <button type="button" class="btn btn_header" id="connect-wallet-trigger">
              <span class="btn__prepend">
                <span class="icon icon_link icon_current-color icon_14"></span>
              </span>
              <span class="btn__text">CONNECT TO GAME</span>
            </button>
          {% endif %}
          <button type="button" class="burger">
            <span></span>
            <span></span>
            <span></span>
            <span class="visually-hidden">toggle nav menu</span>
          </button>
        </div>
      </div>
    </div>
  </header>
  <template id="avatar-dropdowm">
    <div class="dropdown">
      <div class="dropdown__header">
        <div class="dropdown__avatar">
          <img src="/assets/images/avatar_placeholder.jpg" alt="User name" width="16" height="16" class="dropdown__avatar-img">
        </div>
        <div>NameProfile</div>
      </div>
      <ul class="dropdown__list">
        <li>
          <a href="/profile-settings.html" class="dropdown__link">
            <span class="icon icon_current-color icon_12 icon_settings"></span>
            <span>Settings</span>
          </a>
        </li>
        <li>
          <button type="button" class="dropdown__link" aria-haspopup="dialog" aria-controls="premium-modal">
            <span class="icon icon_current-color icon_12 icon_ranks"></span>
            <span>Ranks</span>
          </button>
        </li>
        <li>
          <a href="#" class="dropdown__link">
            <span class="icon icon_current-color icon_12 icon_affiliate"></span>
            <span>Affiliate</span>
          </a>
        </li>
        <li>
          <a href="#" class="dropdown__link">
            <span class="icon icon_current-color icon_12 icon_game-history"></span>
            <span>Game history</span>
          </a>
        </li>
        <li>
          <button type="button" class="dropdown__link" aria-haspopup="dialog" aria-controls="review-modal">
            <span class="icon icon_current-color icon_12 icon_transactions"></span>
            <span>Transactions</span>
          </button>
        </li>
        <li>
          <a href="#" class="dropdown__link dropdown__link_danger">
            <span class="icon icon_current-color icon_12 icon_disconnect"></span>
            <span>Disconnect</span>
          </a>
        </li>
      </ul>
    </div>
  </template>
  {% if isLogined %}
    <template id="deposit-dropdown">
      <div class="dropdown">
        <ul class="dropdown__list">
          <li>
            <button type="button" class="dropdown__link" aria-haspopup="dialog" aria-controls="deposit-modal" data-target-tabpanel="tabpanel-modal-deposit">
              <span class="icon icon_current-color icon_12 icon_deposit"></span>
              <span>Deposit</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown__link" aria-haspopup="dialog" aria-controls="deposit-modal" data-target-tabpanel="tabpanel-modal-withdraw">
              <span class="icon icon_current-color icon_12 icon_withdraw"></span>
              <span>Withdraw</span>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown__link">
              <span class="icon icon_current-color icon_12 icon_vault"></span>
              <span>Vault</span>
              <span class="dropdown__label">In development...</span>
            </button>
          </li>
        </ul>
      </div>
    </template>
  {% else %}
    <template id="connect-dropdown">
      <div class="connect">
        <div class="connect__title">Connect a Wallet</div>
        <div class="connect__actions">
          <div class="connect__tabs" role="tablist">
            <button type="button" class="connect__tab" role="tab" aria-controls="connect-tabpanel-1" aria-selected="true">all</button>
            <button type="button" class="connect__tab" role="tab" aria-controls="connect-tabpanel-2" aria-selected="false">eth</button>
            <button type="button" class="connect__tab" role="tab" aria-controls="connect-tabpanel-3" aria-selected="false">usdt</button>
            <button type="button" class="connect__tab" role="tab" aria-controls="connect-tabpanel-4" aria-selected="false">ton</button>
          </div>
          <label class="connect__search">
            <span class="connect__search-icon">
              <span class="icon icon_search icon_8 icon_current-color"></span>
            </span>
            <input type="text" class="connect__controll" placeholder="Search">
          </label>
        </div>
        <div>
          {% for item in range(0, 4) %}
            <div role="tabpanel"
                id="connect-tabpanel-{{ loop.index }}"
                {% if not loop.first %}
                  hidden
                {% endif %}>
              <div class="connect__items">
                {% set items = [
                  {
                    icon: 'wallet-connect',
                    text: 'Wallet Connect'
                  },
                  {
                    icon: 'metamask',
                    text: 'Metamask',
                    size: '22'
                  },
                  {
                    icon: 'monero',
                    text: 'monero',
                    size: '24'
                  },
                  {
                    icon: 'rabby',
                    text: 'Rabby'
                  },
                  {
                    icon: 'phantom',
                    text: 'phantom',
                    size: '24'
                  },
                  {
                    icon: 'trust-wallet',
                    text: 'trust wallet'
                  },
                  {
                    icon: 'safepal',
                    text: 'SafePal',
                    size: '22'
                  }
                ] %}

                {% for item in items %}
                  <button type="button" class="connect__item">
                    <span class="connect__item-icon">
                      <span class="icon icon_{{ item.icon }} icon_{{ item.size }}"></span>
                    </span>
                    <div class="connect__item-copy">{{ item.text }}</div>
                  </button>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </template>
  {% endif %}
{% endmacro %}
