<ul class="social">
  <li>
    <a href="#" class="social__link">
      <span class="icon icon_current-color icon_16 icon_telegram"></span>
      <span class="visually-hidden">telegram</span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link">
      <span class="icon icon_current-color icon_16 icon_x"></span>
      <span class="visually-hidden">twitter</span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link">
      <span class="icon icon_current-color icon_16 icon_support"></span>
      <span class="visually-hidden">support</span>
    </a>
  </li>
</ul>
