<div class="support">
  <button type="button" class="support__btn" id="toggle-chat">
    <span class="visually-hidden"></span>
    <span class="icon icon_22 icon_message icon_current-color"></span>
  </button>
  <button type="button" class="support__btn">
    <span class="visually-hidden"></span>
    <span class="icon icon_22 icon_support-2 icon_current-color"></span>
  </button>
</div>
