{% from "components/heading.njk" import heading %}

{% macro table(
  title = ''
) %}
    {% if title %}
      <div class="table__heading">
        {{ heading(
          title = title,
          icon = 'icon_hotspot'
        ) }}
      </div>
    {% endif %}
  <div class="table-header">
    <div class="live">live</div>
    <div class="table__tabs">
      {% for item in ['MY BETS', 'ALL BETS', 'HIGH ROLLERS', 'COOL MOMENTS'] %}
        <button class="table__tab" type="button" role="tab">{{ item }}</button>
      {% endfor %}
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        {% for item in ['GAME', 'USER', 'TIME', 'AMOUNT', 'COEFFICIENT', 'PAYOUT'] %}
          <th>{{ item }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for item in range(0, 10) %}
          <tr>
            <td>
              <span class="game-preview">
                <span class="game-preview__avatar">
                  <span class="icon icon_22 icon_game-preview icon_current-color"></span>
                </span>
                <div class="game-preview__title">Roulette</div>
                <div class="game-preview__subtitle">View</div>
              </span>
            </td>
            {% for item in ['***fsdfsd545hh', '4:20', '0.06$', '0.08x', '0.12$'] %}
              <td {% if loop.last %}
                style="color:#36A764"
              {% endif %}>{{ item }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}
